:root {
  --primary-color: #00b0ff;
}

body {
  margin: 0px;
  background-color: rgb(31, 31, 31);
  font-family: "montserrat", "avenir";
  overflow-x: hidden;
}

button {
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 8px;
  transition: all 0.3s;
  letter-spacing: 1.1px;
  outline: none;
}
button:hover {
  color: white;
  background-color: var(--primary-color);
}

h1 {
  width: auto;
  color: white;
  margin: 0 auto;
  background-color: var(--primary-color);
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
}

.h {
  background-color: rgb(26, 26, 26);
}

.colorDisplay {
  font-size: 120%;
  transition: all 0.3s;
  font-weight: 600;
}

.selected {
  background-color: var(--primary-color);
  color: white;
}

.square {
  width: 30%;
  margin: 1.66%;
  background-color: rgb(95, 95, 95);
  padding-bottom: 30%;
  float: left;
  border-radius: 15%;
  transition: background-color 0.6s;
}

#stribe {
  background-color: white;
  height: 30px;
  text-align: center;
  color: black;
}

#stribe button {
  font-size: 20px;
}

#stribe span {
  font-size: 20px;
  font-family: "sans-serif";
}

#container {
  max-width: 80%;
  margin: 20px auto;
}

#scoreDisplay {
  display: inline-block;
  width: 15%;
  font-size: 13px;
}

.darkTheme {
  flex: 1;
}
.menu-main-cont {
  position: relative;
}
.menu-main-cont:hover .menu-cont-1 {
  transform: translateX(0%);
}

.menu-cont {
  position: absolute;
  right: 0px;
  background-color: white;
  width: 300px;
  transition: 1s ease-in-out;
}

.menu-cont button {
  flex: 1;
}

.menu-cont-1{
  transform: translateX(200%);
}
